@model WebModel
@{
    ViewData["Title"] = "Carrito";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Orden de compra</title>
    <!-- Latest compiled and minified CSS -->
    <script type="text/javascript" src="js/jquery-1.12.3.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <link href="Orden.css" rel="stylesheet">

</head>
<body>
    <!-- Orden de compra -->
    <div id="ordenCompra">
        <header>
            `
            <div class="container">
                <div class="col-xs-3 col-md-3">
                    <img alt="logo" src="/imagen/logo.jpg" height="50px;">
                </div>
                <div class="col-xs-9 col-md-9">
                    <h4>LICORERIA M&S</h4>
                    <p id="fecha">Fecha: 26/09/2021</p>
                    <p>
                        Av. Raymondi 200 Tingo María, Huánuco, Perú
                    </p>
                </div>
            </div>
            <div class="container" id="datosPRoveedor">
                <div class="col-xs-12 col-md-12">
                    <h4>Datos del Cliente</h4>
                    <p>Manuel</p>
                    <p>Bravo</p>
                    <p>Jr. San Mateo #456</p>
                    <p>Al lado de Comercial R&R</p>
                    <p>987564794</p>
                </div>
            </div>
        </header>
        <!-- Cuerpo -->
        <section>
            <div class="container">
                <div class="col-xs-12 col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#id</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                                <td>Eliminar</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>23</td>
                                <td>Cerveza Budweiser</td>
                                <td>20.5</td>
                                <td>2</td>
                                <td>41.00</td>
                                <td><button type="button" class="btn btn-danger">Remover</button></td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>Papas Lays</td>
                                <td>1</td>
                                <td>22.50</td>
                                <td>22.50</td>
                                <td><button type="button" class="btn btn-danger">Remover</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </section>
        <!-- Pie -->
        <footer>
            <div class="container">
                <div class="col-xs-5 col-md-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Total a pagar</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>S/. ###</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
               
            </div>
        </footer>

        <footer>
            <div class="container" id="altaItems">
                <div class="col-xs-8 col-md-8">
                    <table class="table table-striped">

                        <tbody>
                        </tbody>
                    </table>
                </div>
                

                <div>
                    <form class="d-flex">
                        <a class="btn btn-outline-success" asp-controller="home" asp-action="Index">Seguir Comprando</a>
                    </form>
                </div>
                <div>
                    <form class="d-flex">
                        <a class="btn btn-outline-success" asp-controller="CarritoCompra" asp-action="CrearPDF">Confirmar Compra</a>
                    </form>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>











