<head>
    <title>Login no usado</title>
    <link href="/css/estilos.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4b71027628.js" crossorigin="anonymous"></script>

</head>


<body>

    <form class="formulario">
        <h1>Iniciar Sesión  </h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <em class="fas fa-user"></em>
                <input type="text" placeholder="Usuario">

            </div>

            <div class="input-contenedor">
                <em class="fas fa-key icon"></em>
                <input type="password" placeholder="contraseña">
            </div>

            <input type="submit" value="Registrarme" class="button">
            <p>Soy cliente <a class="link" href="Registrovista">Registrate</a></p>

        </div>
    </form>

</body>