@page
@model IndexModel
@{
    ViewData["Title"] = "Portada";
}



<head>

    <script src="https://kit.fontawesome.com/4b71027628.js" crossorigin="anonymous"></script>
    <p><a class="link" href="Loginvista">Iniciar Sesión</a></p>
    <p><a class="link" href="Carritovista">Ver carrito</a></p>

</head>


   
