@page
@model ProyectoMiniMarketWebApplication.Pages.loginModel
@{
}

<body>

    <form class="formulario">
        <h1>Iniciar Sesión</h1>
        <div class="contenedor">

            <div class="input-contenedor">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Nombre completo">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-mobile-alt"></i>
                <input type="text" placeholder="Telefono">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-map-marker-alt icon"></i>
                <input type="text" placeholder="dirección">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-map-pin icon"></i>
                <input type="text" placeholder="referencia">

            </div>

            <div class="input-contenedor">
                <i class="far fa-envelope icon"></i>
                <input type="text" placeholder="correo electronico">

            </div>

            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" placeholder="contraseña">
            </div>

            <input type="submit" value="Registrarme" class="button">
            <p>Soy cliente <a class="link" href="loginvista.html">Iniciar sesión</a></p>

        </div>
    </form>

</body>
