@model CategoriaModel 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Minimarket M&S </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <img src="/img/logo.jpg" alt="taniguchi" />

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mx-auto font-weight-bolder ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                      



                    </ul>
                    <form class="d-flex" asp-controller="Usuario" asp-action="Login" method="post">

                        <select name="select">
                            <option value="1">Correo</option>
                            <option value="2">Celular</option>
                        </select>
                        <button class="button" type="submit">
                            Login
                        </button>

                    </form>
                    
                    
                    <form class="d-flex">
                            <a class="btn btn-outline-success" asp-controller="Usuario" asp-action="Registration">Registro</a>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" bg-dark">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-4 col-sm-12 mb-3 mb-md-0">
                    <span class="text-white">Minimarket M&S</span>
                    <p class="text-muted">Aceptamos todas las tarjetas</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fab fa-cc-visa text-white"></i></li>
                        <li class="list-inline-item"><i class="fab fa-cc-mastercard text-white"></i></li>
                        <li class="list-inline-item"><i class="fab fa-cc-discover text-white"></i></li>
                        <li class="list-inline-item"><i class="fab fa-cc-paypal text-white"></i></li>
                        <li class="list-inline-item"><i class="fab fa-cc-amex text-white"></i></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12 mb-3 mb-md-0">
                    <h6 class="text-white">Nosotros</h6>
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-2"><a class="reset-anchor" href="#">Inicio</a></li>
                        <li class="mb-2"><a class="reset-anchor" href="#">Quiénes Somos</a></li>
                        <li class="mb-2"><a class="reset-anchor" href="#"></a></li>
                        <li class="mb-2"><a class="reset-anchor" href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12 mb-3 mb-md-0">
                    <h6 class="text-white">Atención al Cliente</h6>
                    <ul class="list-unstyled text-muted mb-0">
                        <li class="mb-2"> <a class="reset-anchor" href="#">Mi Cuenta</a></li>
                        <li class="mb-2"> <a class="reset-anchor" href="#">Preguntas Frecuentes</a></li>
                        <li class="mb-2"> <a class="reset-anchor" href="#">Términos y condiciones</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 mb-3 mb-md-0">
                    <p class="lead mb-1 text-white">Telf: (+51) 941 488 793</p>
                    <p class="text-muted">Av. Las Palemeras 128 Int 102<br />Los Olivos - Lima</p>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a class="social-icon" href="#"><i class="fab fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="border-top py-4" style="border-color: #1d1d1d !important">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="small text-muted mb-0">© 2021 Todos los derechos reservados.</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <p class="small text-muted mb-0">Desarrollado por <a class="text-white reset-anchor" href="#" target="_blank">Taniguchi</a></p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
