@model WebModel
@{

    ViewData["Title"] = "Login";


}


<head>
    <link href="/css/EstiloGeneral.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/4b71027628.js" crossorigin="anonymous"></script>

</head>


<body>


    
    


    <form class="formulario" asp-controller="Usuario" asp-action="ValidarLogin" method="post">

        @if (Model.enSession == 0)
            {
                    <p>Las Credenciales no está Registradas</p>
            }



            <h1>Iniciar Sesión  </h1>

            <div class="contenedor">

                @if (Model.tipoLogin == 1)
                {
                    <div class="input-contenedor">
                        <i class="fas fa-user icon"></i>
                        <input type="text" class="form-control" name="usr" placeholder="Correo" required autofocus>
                    </div>
                }
                else
                {
                    <div class="input-contenedor">
                        <i class="fas fa-user icon"></i>
                        <input type="text" class="form-control" name="phone" placeholder="Número de Celular" required autofocus>
                    </div>
                }


                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input type="password" class="form-control" name="pwd" placeholder="Contraseña" required>
                </div>

                <button class="button" type="submit">
                    Iniciar sesión
                </button>
                <p>Deseo ser cliente <a class="link" href="Registration">Registro</a></p>


            </div>

        </form>

</body>


